.map-container {
  width: 100%;
  height: 100vh;
}

.panel-edison {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  @media (max-width: 600px) {
  .panel-edison {
    width: 80%;
    left: 10%;
  }
}

}

.panel-edison h3 {
  margin: 0 0 10px;
}

.panel-edison button {
  display: block;
  margin-bottom: 8px;
  padding: 6px 10px;
  width: 100%;
  font-size: 14px;
}
